:root {
  --white: #ffffff;
  --black: #000000;
  --cooler-black: #111;
  --gray: rgba(17, 17, 17, 0.48);
  --grayer-gray: rgba(17, 17, 17, 0.1);
  --gray-l: #f1f1f1;
  --gray-m: #FAFAFA;
  --blue: #01A7FD;
  --red: #DB524E;
}
